body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#loghead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}
#logcross-cont{
    /* border:1px solid red; */
  width:10%;
  display: flex;
  justify-content: right;

}

#logcross {
   margin-top: -20%;
    font-size: 40px;
    color: rgb(41, 39, 39);
    cursor: pointer;
}

.logpopup {
    width: 40%;
    background: linear-gradient(90deg, #89c8d8, #9ca0a5, rgb(101, 225, 225));
    padding-bottom: 3%;
    position: absolute;
    top: 0;
    /* top: 35%; */
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);  
   /*  for popop  I will uncomment this and comment next line*/
    /* transform: translate(-50%, -30%) scale(1); */
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.logopen-popup {
    visibility: visible;
    top: 35%;
    transform: translate(-50%, -30%) scale(1);

}


#logsignIn_head {

    width:90%;
    /* border: 1px solid blue; */
    text-align: center;
    color: #dd4a39;
  


}

#logsignIn_head>h3 {
    display: inline;
    color: black;
}

#logsignIn_head>a {
    text-decoration: none;
    color: red;
}



#logform {
    /* border:2px dashed red; */
    width: 85%;
    margin: auto;

}

#logform input {
    height: 2.5rem;
    width: 100%;
    margin-top: 8%;
    border: none;
    background-color: #e1dfdf;
    display: block
}

#logLogin_but {
    border: 1px solid red;
    color: red;
    font-weight: 600;
    background: none;
}

#logFb_Gog_but {
    /* border:1px solid green; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#loggoogle {
    background-color: #dd4a39;
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: white;
    border: none;
    font-size: 80%;
}

#logfacebook {
    background-color: #3b5a95;
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: white;
    border: none;
    font-size: 80%;

}



h3 {
    text-align: center;
    color: rgb(69, 66, 66);
}



.loganchor {
    margin-top: 6%;
}

.loganchor>a {
    text-decoration: none;
    font-weight: 500;
    color: white
}

span {
    color: red;
}

#clickme {
    display: block;
    color: red;
    font-size: 30px;
    position: absolute;
    top: 10px;
}

 /* for medium screen */
@media screen and (min-width:641px) and (max-width:1007px) {
    .logpopup {
        width: 90%;
        margin-top: 10%;
    }

    #logFb_Gog_but {
        display: flex;
        justify-content: space-between;
    }

    #logfacebook {
        width: 48%;
        margin: auto;
        margin-top: 10%;

    }

    #loggoogle {
        width: 48%;
        margin: auto;
        margin-top: 10%;

    }

    #logsignIp_head {
        width: 92%;

    }

    #logsignIp_head>h3 {
        display: block;

    }

    .loganchor {
        margin-top: 2%;
    }
}
 /* for small screen */
@media screen and (max-width:640px) {
    .logpopup {
        width: 90%;
    }

    #logFb_Gog_but {
        display: block;
    }

    #logfacebook {
        width: 90%;
        margin: auto;
        margin-top: 10%;

    }

    #loggoogle {
        width: 90%;
        margin: auto;
    }

    #signIp_head {
        width: 85%;
    }

    #logsignIp_head>h3 {
        display: block;

    }

    .loganchor {
        margin-top: 5%;
    }
}